alembic==1.10.4
beautifulsoup4==4.11.1
certifi==2020.6.20
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
cryptography==38.0.4
Deprecated==1.2.13
dnspython==2.3.0
dominate==2.5.2
email-validator==1.3.1
Flask==1.1.2
Flask-Admin==1.6.1
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.4.1
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Migrate==2.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
google-search-results==2.4.2
goto-statement==1.2
greenlet==2.0.1
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.2.4
MarkupSafe==1.1.1
numpy==1.25.0
opencv-python==4.7.0.72
pdfkit==1.0.0
pycparser==2.21
PyJWT==2.6.0
pytz==2022.7
requests==2.24.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.19
typing_extensions==4.4.0
urllib3==1.25.10
visitor==0.1.3
vonage==3.1.0
Werkzeug==1.0.1
wkhtmltopdf==0.2
wrapt==1.14.1
WTForms==2.3.3
WTForms-Appengine==0.1
